#board {
  display: flex;
  flex-direction: column;
  margin-left: var(--nav-bar-size);
  padding: 0 var(--space);
  height: 99vh;
  >header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--space);
    border-bottom: var(--border-size) solid var(--primary);
    padding: var(--space);
    button {
      height: var(--img-size);
      border-radius: var(--small-border-radius);
      padding: 0 0.75rem;
      background: var(--primary);
      border: none;
      &:hover {
        background: var(--secondary);
      }
    }
    aside {
      display: flex;
      gap: var(--space);
      align-items: center;
      i {
        font-size: calc(var(--img-size) * 0.75);
        &:hover {
          color: var(--primary);
        }
      }
    }
  }
  #columns-container {
    display: flex;
    align-items: flex-start;
    padding: var(--space);
    gap: var(--space);
    flex-grow: 1;
    height: 100%;
    overflow: auto;

    .column {
      display: flex;
      flex-direction: column;
      background: var(--gray);
      padding: var(--space);
      border-radius: var(--small-border-radius);
      min-width: var(--column-size);
      width: var(--column-size);
      max-height: 100%;
      transition: transform 0.15s ease-in-out;
      overflow: hidden;

      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--space);
        padding-bottom: var(--space);
        p {
          display: inline-block;
          width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        aside {
          display: flex;
          gap: var(--space);
        }
        input[type="text"] {
          background: transparent;
          border: var(--border-size) dashed rgba(255, 255, 255, 0.2);
          border-radius: var(--small-border-radius);
          outline: none;
          width: 100%;
          padding: 0 0.2rem;
        }
      }

      .cards-container {
        display: flex;
        flex-direction: column;
        gap: var(--space);
        min-height: 2rem;
        max-height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
      }

      footer {
        display: flex;
        align-items: center;
        gap: var(--space);
        padding-top: var(--space);
        cursor: pointer;
      }
    }

    >button {
      display: flex;
      gap: var(--space);
      background: var(--gray);
      padding: var(--space);
      border-radius: var(--small-border-radius);
      min-width: var(--column-size);
      border: none;
      cursor: pointer;
    }

  }
}

@media screen and (max-width: 1200px) {
  #board {
    margin-left: 0;
    margin-top: var(--nav-bar-size);
    height: calc(99vh - var(--nav-bar-size));
  }
}
