<div id="home">
  <header>
    <h1>Your Boards</h1>
    <label>
      <input type="text" placeholder="Search by name..." />
      <i class="bx bx-search-alt"></i>
    </label>
    <label>
      Sort by:
      <select>
        <option value="newest" selected>Newest</option>
        <option value="oldest">Oldest</option>
      </select>
    </label>
  </header>
  <div class="container">
    <button class="shadow">
      <i class="bx bx-plus"></i>
      <p>Add new</p>
    </button>
    <div class="board shadow">
      <header>
        <img src="../../../assets/visuals/vinciu.svg" alt="logo" />
        <aside>
          <p>VinciU Tasks</p>
          <p>3 Members</p>
        </aside>
      </header>
      <footer>
        <i class="bx bx-star"></i>
        <i class="bx bxs-share-alt"></i>
        <i class="bx bxs-edit-alt"></i>
        <i class="bx bx-trash"></i>
      </footer>
    </div>
  </div>
</div>
