<div id="home">
  <header>
    <h1>Your Boards</h1>
    <label>
      <input type="text" placeholder="Search by name..." [(ngModel)]="search" (keyup)="filterBoards()"/>
      <i class="bx bx-search-alt"></i>
    </label>
    <label>
      Sort by:
      <select (change)="sortBoards()" id="sorting-order">
        <option value="newest" selected>Newest</option>
        <option value="oldest">Oldest</option>
        <option value="fav">Favourites</option>
      </select>
    </label>
  </header>
  <div class="container">
    <div class="new-boards-panel">
      <button class="shadow" (click)="newBoard()">
        <i class="bx bx-plus"></i>
        Create new
      </button>
    </div>
    <h1 *ngIf="this.boardsManager.userBoards.length < 1">Loading...</h1>
    <ng-container *ngFor="let board of this.boardsManager.userBoards;let boardIndex = index">
      <app-board-preview
        [title]="board.title"
        [members]="board.members"
        [color]="board.color"
        [editColor]="board.editColor"
        [fav]="board.fav"
        [mode]="board.mode"
        [index]="boardIndex"
        (favEvent)="fav(boardIndex)"
        (cancelEditEvent)="cancelEditBoard(boardIndex)"
        (editEvent)="editBoard(boardIndex)"
        (deleteEvent)="this.boardsManager.deleteBoard(boardIndex)"
        (saveEditEvent)="saveEditBoard(boardIndex)"
        (setColorEvent)="setBoardColor(boardIndex)"
        (pickColorEvent)="pickBoardColor(boardIndex)"
        *ngIf="board.visible"
      ></app-board-preview>
    </ng-container>

  </div>
</div>
