#home {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  left: var(--nav-bar-size);
  right: 0;
  padding: 0 var(--space);
  padding-bottom: var(--space);
  overflow: hidden;

  >header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    padding: var(--space);
    border-bottom: var(--border-size) solid var(--primary);
    gap: var(--space);
    label {
      position: relative;
      display: flex;
      align-items: center;
      gap: var(--space);
      input {
        height: var(--img-size);
        padding: 0 0.5rem;
        border-radius: var(--small-border-radius);
        outline: none;
        &::placeholder {
          color: var(--light);
        }
      }
      i {
        position: absolute;
        right: 0.5rem;
      }
      select {
        height: var(--img-size);
        border-radius: var(--small-border-radius);
        border: none;
        outline: none;
        background: var(--primary);
        padding: 0 0.5rem;
        &:hover {
          background: var(--secondary);
        }
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    max-height: calc(100% - var(--space));
    width: 100%;
    padding: var(--space);
    gap: var(--space);
    overflow-y: auto;

    button {
      border: none;
      border-radius: var(--small-border-radius);
      padding: var(--space);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--space);
      background: var(--primary);
      &:hover {
        background: var(--secondary);
      }
    }

    .joining-input, .new-boards-panel{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: var(--space);
      padding: var(--space) 0;
      input, aside {
        flex-grow: 1;
        min-width: 17rem;
      }
      aside {
        display: flex;
        flex-wrap: nowrap;
        gap: var(--space);
        button {
          flex-grow: 1;
        }
      }
      input {
        border-radius: var(--small-border-radius);
        padding: calc(var(--space) * 0.5);
        outline: none;
        &::placeholder{
          color: var(--light);
        }
      }
      >button {
        flex-grow: 1;
        min-width: 17rem;
        align-self: center;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #home {
    left: 0;
    top: var(--nav-bar-size)
  }
}

@keyframes appear {
  from {
    transform: scale(0%);
  } to {
    transform: scale(100%);
  }
}
