<nav id="nav-bar" class="shadow" *ngIf="this.router.url != '/signIn'">
  <header>
    <aside>
      <img src="../../../assets/visuals/logo.svg" alt="logo" />
      <h1>Kanban App</h1>
    </aside>
    <button
      class="burger"
      (click)="toggleMenu()"
      [ngClass]="{ active: toggleMenuBool }"
    >
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </button>
  </header>
  <div class="menu shadow" [ngClass]="{ active: toggleMenuBool }">
    <section>
      <ng-container *ngIf="this.router.url == '/home'">
        <p>Recent...</p>
        <div class="recent">
          <div class="color" style="--color:{{this.user.recent.color}}">
            <i class='bx bxs-dashboard' ></i>
          </div>
          {{this.user.recent.title}}
        </div>
      </ng-container>
      <ng-container *ngIf="this.router.url.includes('/board')">
        <div class="members">
          Members
          <div class="member">
            <app-image [src]="user.photoURL"></app-image>
            <aside>
              <p>Franco Fontana <i class="bx bx-crown"></i></p>
              <select id="rol">
                <option selected hidden>Admin</option>
                <option value="admin">Admin</option>
                <option value="admin">Editor</option>
                <option value="admin">Reader</option>
              </select>
            </aside>
          </div>
        </div>
        <button (click)="addMember()">
          <i class="bx bxs-share-alt"></i>
          Add members
        </button>
        <button routerLink="/home">
          <i class="bx bx-home"></i>
          Go home
        </button>
      </ng-container>
    </section>
    <footer>
      <app-image [src]="user.photoURL"></app-image>
      <aside>
        <p>{{ user.displayName }}</p>
        <p id="log-out" (click)="logOut()">Log out</p>
      </aside>
    </footer>
  </div>
</nav>
