div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--space);
  background: var(--dark);
  border-radius: var(--small-border-radius);
  gap: var(--space);

  header {
    display: flex;
    align-items: center;
    gap: var(--space);
    p {
      color: var(--primary);
    }
    input[type="text"] {
      background: transparent;
      outline: none;
      border: var(--border-size) dashed rgba(255, 255, 255, 0.2);
      border-radius: var(--small-border-radius);
      padding: 0 0.2rem;
    }
    .color {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1 / 1;
      width: var(--img-size);
      background: var(--color);
      border-radius: 50%;
      input[type="color"]{
        position: absolute;
        transform: scale(0);
      }
      i {
        position: absolute;
        transform: scale(80%);
        &:hover {
          color: var(--light);
        }
      }
    }
  }

  i {
    font-size: var(--img-size);
    &:hover {
      color: var(--primary);
    }
    &.bxs-star {
      color: var(--primary);
    }
  }

  footer {
    display: flex;
    align-items: center;
    gap: var(--space);
  }

  button {
    border: none;
    background: var(--primary);
    padding: var(--space);
    border-radius: var(--small-border-radius);
    &:hover {
      background: var(--secondary);
    }
  }
}

@media screen and (max-width: 540px) {
  div {
    justify-content: center;
  }
}
